rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shards/{shardId} {
      // Shards need to be read and created publicly so anonymous users can share and visit workspaces
      allow read, write: if true;
    }
    match /sync/{syncId} {
      // Sync state for interactive widgets needs to be shared among all users in the workspace
      allow read, write: if true;
    }
    match /chats/{chatId} {
      // Chat history needs to be saved and restored for workspaces
      allow read, write: if true;
    }
  }
}
